@media screen and (max-width: 1200px) {
  #STopText {
    width: 100%;
    margin-right: 5%;
  }

  #STopText h1 {
  }

  #STopText ul {
    font-size: 1.6rem;
    bottom: 0rem !important;
    right: 0rem !important;
  }

  #SCart {
    width: 60%;
  }
}
