@media screen and (max-width: 480px) {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }

  #SIntroTop {
    align-items: flex-start;
  }

  #STopText {
    margin-top: 10rem;
  }

  #STopText h1 {
    font-size: 6.8rem !important;
  }

  #STopText ul {
    font-size: 1.2rem !important;
  }

  #SVideo {
    display: none;
  }

  #SIntroBeerCards {
    height: 60vh;
    margin-top: -48rem;
  }

  #SIntroBeerCards h1 {
    font-size: 2rem;
  }

  #SCards {
    margin: 0;
  }

  #light-btngroup {
    margin: -6rem;
  }

  .SLight-Cards > div {
    position: relative;
  }
  .SLight-Cards > div h1 {
    top: -14vh;
    font-weight: 300;
    font-size: 1.6rem !important;
    right: 0;
  }

  .SQuantity {
    display: flex;
    align-items: center;
    color: white;
  }

  .SQuantity button {
    background: transparent;
    border: none;
    display: flex;

    font-size: 3rem;
    cursor: pointer;
    z-index: 2;
  }

  .SQuantity p {
    font-size: 3rem;
    color: white;
    opacity: 0.9;
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 2;
    width: 3rem;
    text-align: center;
    filter: drop-shadow(0 0 6px rgb(255 255 255 / 1));
  }

  .SQuantity svg {
    color: white;
    transition: all ease 0.3s;
    border-radius: 50%;
    opacity: 1;
    font-size: 3rem;
    margin: 0.5rem 0;
  }

  .SQuantity svg:hover {
    background: white;
    color: black;
    filter: drop-shadow(0 0 6px rgb(255 255 255 / 1));
  }

  .SQuantity {
    display: none !important;
  }

  #SOrderDetails {
    flex-direction: column !important;
  }

  #SSuccessWrapper {
    margin-top: 25vh;
    margin-bottom: 25vh;
  }

  #SBtnWrapper {
    margin-top: 2rem;
  }
  #SProfile {
    width: 90% !important;
  }

  #STestimony > div {
    margin-bottom: 0;
  }
}
