@media screen and (max-width: 768px) {
  #STopText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 5%;
  }

  #STopText h1 {
    font-size: 8rem;
    text-align: right;
  }

  #STopText div {
    margin-bottom: 1rem;
  }

  #STopText ul {
    font-size: 1.4rem;
  }

  #STopText li {
    margin: 0;
  }

  #SLogo {
    left: 1rem;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
  }

  #SNavBG {
    display: none;
  }

  #SNavList {
    justify-content: space-around;
    align-items: center;
    background: black;
    width: 100%;
    right: 0;
    height: 10vh;
    top: 90vh;
  }

  #SNavList li {
    transition: all ease 0.15s;
  }

  #SNavList li:hover {
    text-shadow: none;
    transform: scale(1.2);
  }

  #SNavList svg {
    display: flex;
    filter: none;
    font-size: 3rem !important;
  }

  #SNavList .menu-txt {
    display: none;
  }

  #SNavList .menu-icon {
    display: flex;
    font-size: 2.5rem;
    opacity: 1;
    filter: drop-shadow(0 0 6px rgb(0 0 0 / 0.4));
  }
  #SNavList .menu-icon:hover {
    opacity: 1;
  }
  #einkaufskorb {
    display: none !important;
  }

  #SNav {
    justify-content: space-between;
  }

  #SLogo {
    margin: 0;
  }
  #SNavItems {
    margin: 0;
  }

  #SCart {
    top: 10vh;
    right: 0;

    width: 100% !important;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

    background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  #CartItem {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  #close-cart-mobile {
    display: block;
    position: absolute;
    z-index: 99;
    bottom: 10vh;
    right: 2rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 5rem;
  }
  #sinfo {
    width: 80%;
  }

  #SImgFloating {
    right: -30rem;
  }

  #SFooter {
    display: none;
  }

  .SCraftBeer {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  .SCraftBeer section {
    margin-top: 20vh;
    margin-left: 5rem;
    padding: 1rem;

    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 90% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 11;
  }

  .SCraftBeer h1 {
    font-size: 3rem;
  }
  .SCraftBeer h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .SCraftBeer p {
    text-shadow: #000 0px 0 3px;
    font-size: 1.4rem;
  }
}
