@media screen and (max-width: 768px) {
  #STopText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 5%;
  }

  #STopText h1 {
    font-size: 8rem;
    text-align: right;
  }

  #STopText div {
    margin-bottom: 1rem;
  }

  #STopText ul {
    font-size: 1.4rem;
  }

  #STopText li {
    margin: 0;
  }

  #SNav {
    /* height: 100vh !important; */
  }

  #SLogo {
    left: 1rem;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
  }

  #SNavBG {
    display: none;
  }

  #SNavList {
    position: fixed;
    justify-content: space-around;
    align-items: flex-end;
    bottom: 2rem;
    left: 0;
    color: white;
    background-color: black;
    transition: all ease 0.3s;
    opacity: 1;
    width: 100%;
    margin-top: 88vh;
    /* margin-bottom: 2rem; */
    /* padding-bottom:2rem; */
  }

  #SNavList li {
    transition: all ease 0.15s;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  #SNavList li:hover {
    text-shadow: none;
    transform: scale(1.2);
  }

  #SNavList svg {
    display: flex;
    filter: none;
    font-size: 3rem !important;
  }

  .menu-txt {
    display: none;
  }

  #einkaufskorb {
    display: none !important;
  }

  #SNav {
    justify-content: space-between;
  }

  #SLogo {
    margin: 0;
  }
  #SNavItems {
    margin: 0;
  }
  #SNavItems li {
    margin: 0 0.5rem;
  }

  #sinfo {
    width: 80%;
  }

  #SImgFloating {
    right: -30rem;
  }

  #SFooter {
    display: none;
  }

  .SCraftBeer {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  .SCraftBeer section {
    margin-top: 20vh;
    margin-left: 5rem;
    padding: 1rem;

    background: black;
    position: absolute;
    width: 90% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 11;
    opacity: 0.7;
  }

  .SCraftBeer h1 {
    font-size: 3rem;
  }
  .SCraftBeer h3 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .SCraftBeer p {
    text-shadow: #000 0px 0 3px;
    font-size: 1.4rem;
  }
}
