* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size:62.5%;

  background: black;
  --primary: #2d2d2d;
  --secondary: #535353;
  --third: #939393;
  --originalRed: #6f1d1b;
  /* Monochromatic */
  --originalRedM: #982825; 
  --highlight: #cc7662;
  --boxshadow01: 0 0 30px rgba(0, 0, 0, 0.1) ;
  --boxshadow03: 0 0 30px rgba(0, 0, 0, 0.3) ;
  --boxshadow05: 0 0 30px rgba(0, 0, 0, 0.5) ;
  --boxshadow10: 0 0 30px rgba(0, 0, 0, 1) ;
  scroll-behavior: smooth;
  }

a {
  color: inherit;
  text-decoration: none;
}



h2 {
  font-size: 1.2rem;
  color: var(--primary);
}

h3 {
  font-size: 1rem;
  color: var(--secondary);
}

p {
  line-height: 150%;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
